.button,
button,
a.button {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button {
    &--white {
        background-color: #ffffff;
        padding: 30px 52px;
        padding-right: 88px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/icons/arrow.svg);
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            top: 32%;
            margin-left: 12px;
        }
    }
}