.card {
    @include flexible(space-between, row, space-between);
    width: 100%;
    padding-right: 30px;
    margin-bottom: 60px;
    background-color: #FBFBFB;
    &:last-child {
        margin-bottom: 0;
    }
    &--extended {
        hidden {
            display: block;
        }
    }

    &__picture {
        position: relative;
        width: 670px;
        margin-right: 30px;
    }

    &__image {
        position: relative;

        img {
            width: 100%;
        }
    }

    &__info {
        @include flexible(space-between, column, flex-start);
        width: 40%;
        padding: 30px 0;
        padding-right: 30px;
    }

    &__title {
        color: #BDBDBD;
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
    }
}