.contacts {

    &__container {
        @include flexible(space-between, row, flex-start);
        

        @media(max-width: 992px) {
            flex-direction: column;
        }
    }

    &__left {
        @include flexible(space-between, column, flex-start);
        min-height: 450px;
        height: 100%;
        margin-right: 35px;
        @media(max-width: 992px) {
            margin-bottom: 30px;
            min-height: 350px;
        }
    }

    &__subtitle {
        color: $accent-black;
    }

    &__adress {
        span {
            display: block;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__link {
        text-decoration: none;
        display: block;
        color: $accent-black;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }

        &--tel {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__main {
       position: relative;
 
    }
}

.map {
    margin-right: calc(50% - 50vw);
    width: 100%;
    height: 500px;
    &-frame {
        width: 100%;
        height: 100%;
    }
}