.galery {
    &__item {
        @media( max-width: 992px) {
            margin-bottom: 20px;
        }
        @media(max-width: 768px) {
            margin-bottom: 10px;
        }
        margin-bottom: 30px;
        display: block;
        position: relative;
        &:hover  .galery__mask {
            height: 45%;
            opacity: 0.8;
        }
       

        img {
            width: 100%;
        }
    }

    &__mask {
        box-sizing: border-box;
        width: 100%;
        background-color: #FBFBFB;
        position: absolute;
        z-index: 2;
        bottom: 0;
        height: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $accent-black;
        padding: 20px;
        opacity: 0;
        transition: all .5s ease;
        display: block; 
        @media(max-width: 550px) {
            display: none;
        }
    }
}