
<div class="burger-menu">
    <ul class="burger-menu__list">
        <li class="burger-menu__item"><a href="index.html" class="burger-menu__link">Главная</a></li>
        <li class="burger-menu__item"><a href="galery.html" class="burger-menu__link">Галерея</a>
        </li>
        <li class="burger-menu__item"><a href="projects.html" class="burger-menu__link">Проекты</a>
        </li>
        <li class="burger-menu__item"><a href="sertificats.html" class="burger-menu__link">Сертификаты</a></li>
        <li class="burger-menu__item"><a href="contacts.html" class="burger-menu__link">Контакты</a></li>
    </ul>
</div>