<div class="form">
    <form action="#" method="POST" id="form" class="form__body"> 
        <div class="form__item">
            <label class="form__label">
                <input id="formName" data-validate-field="name" type="text" name="name" class="form__input" placeholder="Имя*">
            </label>
        </div>
        <div class="form__item">
            <label class="form__label">
                <input id="formTel" type="tel" name="tel" data-validate-field="phone" class="form__input" required placeholder="Номер телефона*">
            </label>
        </div>
        <div class="form__item">
            <label class="form__label">
                <input id="formEmail" type="email" name="email" data-validate-field="email" class="form__input" required placeholder="E-mail*">
            </label>
        </div>
        <div class="form__item">
            <label class="form__label">
                <select name="prouduct" id="" class="select">
                    <option value="0" selected disabled>Интересующий товар/услуга</option>
                    <option value="1">1 variant</option>
                    <option value="2">2 variant</option>
                    <option value="3">3 variant</option>
                </select>
            </label>
        </div>

        <div class="form__item">
            <label for="formMessage" class="form__label">
                <textarea name="message" data-validate-field="text" id="formMessage" class="form__input" required placeholder="Сообщение*"></textarea>
            </label>
        </div>

        <div class="form__item">
            <div class="checkbox">
                <input type="checkbox" data-validate-field="checkbox" checked name="agreement" id="formAgreement" class="checkbox__input" required >
                <label for="formAgreement" class="checkbox__label">
                    <span>Отправляя заявку Вы соглашаетесь
                        с политикой
                        конфиденциальности
                    </span>
                </label>
            </div>
        </div>
        <button type="submit" class="button @@btnclass form__button">Отправить<span></span></button>
    </form>
</div>