
<div class="galery__wrapper">
    <a data-fslightbox="gallery" href="@@hreftop" class="galery__item">
        <img src="@@srctop" alt="">
        <div class="galery__mask">
            Описание или пояснение к изображению.
        </div>
    </a>
    <a data-fslightbox="gallery" href="@@hrefbot" class="galery__item">
        <img src="@@srcbot" alt="">
        <div class="galery__mask">
            Описание или пояснение к изображению.
        </div>
    </a>    
</div>

<!-- <a data-fslightbox="gallery" href="@@href" class="galery__item">
    <img src="@@src" alt="">
    <div class="galery__mask"></div>
</a> -->