<header class="header">
    <div class="container header__container">
        <div class="logo">
            <a href="index.html" class="logo__link">
                <img src="img/logo.svg" alt="logo">
            </a>
        </div>
        <nav class="nav">
            <ul class="nav__menu menu">
                <li class="menu__item @@main"><a href="index.html" class="menu__link">Главная</a></li>
                <li class="menu__item @@galery"><a href="galery.html" class="menu__link">Галерея</a></li>
                <li class="menu__item @@projects"><a href="projects.html" class="menu__link">Проекты</a></li>
                <li class="menu__item @@sertifications"><a href="sertificats.html" class="menu__link">Сертификаты</a></li>
                <li class="menu__item @@contacts"><a href="contacts.html" class="menu__link">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>