<div class="modal hidden">
    <div class="modal-form hidden">
        <h3 class="modal-title">Задать вопрос</h3>
        <span class="modal__close"></span>
        @@include('_form.html', {
            'btnclass': 'button--black-weird'
        })
    </div>
    <div class="modal-ok ">
        <span class="modal__close "></span>
        <div class="modal-ok__img">
            <img src="./img/success.svg" alt="">
        </div>
        <p class="modal-ok__title">Спасибо!</p>
        <p class="modal-ok__text">Ваше сообщение отправлено мы свяжемся с вами в ближайшее время</p>
        <button class="button button--black-weird back-js">вернуться назад</button>
    </div>
</div>