<!-- Slider main container -->
<div class="swiper-container-projects">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
             @@include('_card.html', {
                'title': 'Общеобразовательная школа',
                'src': 'img/school.jpg',
                'src-second': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Паркинг на 500 автомобилей',
                'src': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Проект интерьера офиса',
                'src': 'img/office.jpg',
                'alt': 'picture'
            })
        </div>
        <div class="swiper-slide">
             @@include('_card.html', {
                'title': 'Общеобразовательная школа',
                'src': 'img/school.jpg',
                'src-second': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Паркинг на 500 автомобилей',
                'src': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Проект интерьера офиса',
                'src': 'img/office.jpg',
                'alt': 'picture'
            })
        </div>
        <div class="swiper-slide">
             @@include('_card.html', {
                'title': 'Общеобразовательная школа',
                'src': 'img/school.jpg',
                'src-second': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Паркинг на 500 автомобилей',
                'src': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Проект интерьера офиса',
                'src': 'img/office.jpg',
                'alt': 'picture'
            })
        </div>
        <div class="swiper-slide">
             @@include('_card.html', {
                'title': 'Общеобразовательная школа',
                'src': 'img/school.jpg',
                'src-second': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Паркинг на 500 автомобилей',
                'src': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Проект интерьера офиса',
                'src': 'img/office.jpg',
                'alt': 'picture'
            })
        </div>
        <div class="swiper-slide">
             @@include('_card.html', {
                'title': 'Общеобразовательная школа',
                'src': 'img/school.jpg',
                'src-second': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Паркинг на 500 автомобилей',
                'src': 'img/parking.jpg',
                'alt': 'picture'
            })
            @@include('_card.html', {
                'title': 'Проект интерьера офиса',
                'src': 'img/office.jpg',
                'alt': 'picture'
            })
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="nav-wrapper">
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="navbuttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>