<!-- Slider main container -->
<div class="swiper-container-galery">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/1.jpg',
                'srctop': 'img/galery/1.jpg',
                'hrefbot' : 'img/galery/2.jpg',
                'srcbot': 'img/galery/2.jpg'
            })
        </div>
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/3.jpg',
                'srctop': 'img/galery/3.jpg',
                'hrefbot' : 'img/galery/4.jpg',
                'srcbot': 'img/galery/4.jpg'
            })
        </div>
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/5.jpg',
                'srctop': 'img/galery/5.jpg',
                'hrefbot' : 'img/galery/6.jpg',
                'srcbot': 'img/galery/6.jpg'
            })
        </div>
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/4.jpg',
                'srctop': 'img/galery/4.jpg',
                'hrefbot' : 'img/galery/7.jpg',
                'srcbot': 'img/galery/7.jpg'
            })
        </div>
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/8.jpg',
                'srctop': 'img/galery/8.jpg',
                'hrefbot' : 'img/galery/1.jpg',
                'srcbot': 'img/galery/1.jpg'
            })
        </div>
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/9.jpg',
                'srctop': 'img/galery/9.jpg',
                'hrefbot' : 'img/galery/3.jpg',
                'srcbot': 'img/galery/3.jpg'
            })
        </div>
        <div class="swiper-slide">
            @@include('_galery-item.html', {
                'hreftop' : 'img/galery/6.jpg',
                'srctop': 'img/galery/6.jpg',
                'hrefbot' : 'img/galery/9.jpg',
                'srcbot': 'img/galery/9.jpg'
            })
        </div>
    
    </div>
    <!-- If we need pagination -->
    <div class="nav-wrapper">
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="navbuttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>