<div class="swiper-container-main">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
           @@include('_main-slide.html', {
               'src': 'img/main.png' 
           })
        </div>
        <div class="swiper-slide">
            @@include('_main-slide.html', {
                'src': 'img/cabinet.jpg' 
            })
        </div>
    
    
    </div>
    <div class="nav-wrapper">
        <div class="swiper-pagination"></div>

        <div class="navbuttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>