<!-- Slider main container -->
<div class="swiper-container-sertific">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/1.png',
                'src': './img/sertificats/1.png'
            })
        </div>
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/2.png',
                'src': './img/sertificats/2.png'
            })
        </div>
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/3.png',
                'src': './img/sertificats/3.png'
            })
        </div>
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/2.png',
                'src': './img/sertificats/2.png'
            })
        </div>
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/3.png',
                'src': './img/sertificats/3.png'
            })
        </div>
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/1.png',
                'src': './img/sertificats/1.png'
            })
        </div>
        <div class="swiper-slide">
            @@include('_sertific-item.html', {
                'href': './img/sertificats/2.png',
                'src': './img/sertificats/2.png'
            })
        </div>
    
    </div>
    <!-- If we need pagination -->
    <div class="nav-wrapper">
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="navbuttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>